.main {
    width: 325px;
    height: auto;
    
}

@media only screen and (min-width: 1100px) {

    .main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 12.5px; 

        width: 1110px;
        height: 575px;

        .card--clifford {
            grid-area: 1/1/2/3;
            background-position: 80% 0;}
        .card--walters {
            grid-area: 1/3/2/4;}
        .card--harmon {
            grid-area: 2/1/3/2;}
        .card--abrams {
            grid-area: 2/2/3/4;}
        .card--whittle {
            grid-area: 1/4/3/5;}    

        }    
}