/* COLOR PRIMARY */
$card-background-color: (
    clifford: (
        bg: hsl(263, 55%, 52%) url("../img/bg-pattern-quotation.svg") no-repeat 90% 0,
        text-color: white,
    ),
    walters: (
        bg:hsl(217, 19%, 35%),
        text-color: white,
    ),
    harmon: (
        bg: white,
        text-color: black,
    ),
    abrams: (
        bg: hsl(219, 29%, 14%),
        text-color: white,
    ),
    whittle: (
        bg: white,
        text-color: black,
    ),
);

/* COLOR NEUTRAL */
    $Light-gray: hsl(0, 0%, 81%);
    $Light-grayish-blue: hsl(210, 46%, 95%);

/* BODY COPY */
    $fs: 13px;

/* FONT */
    $ff: 'Barlow Semi Condensed', sans-serif;
    $fw: 500 600;