@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    /* Set default font */
    font-family: $ff;
    font-size: $fs;
    font-weight: nth($fw , 1);
    line-height: 1;
}